*{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width:1500px){
    .nav-bar-top{
        background-color: #eeeeee;
        display: flex;
        justify-content: ;
    }
    .email>img{
        width: 20px;
        height: 20px;
        position: relative;
    }
    .email{
        display: flex;
        position: relative;
        left: 100px;
        top: 10px;
    }
    .phone{
        display: flex;
        position: relative;
        left: 150px;
        top: 10px;
    }
    .phone>img{
        width: 20px;
        height: 20px;
        position: relative;
        top: 3px;
    }
    .container>img{
        width: 2000px;
    }
    .logo{
        width: 200px;
    }
    .logo-div{
        position: relative;
    }
    .nav-bar{
        display: flex;
        justify-content: space-evenly;
        /* border: 1px solid red; */
        border-bottom: 1px solid lightgrey;
        box-shadow: 1px 1px 2px ; 
        align-items: center;
    }
    ul{
        list-style-type: none;
    }
    li{
        display: inline;
    }
    .top-links-div{
        position: relative;
        top: 10px;
    }
    .top-links{
        text-decoration: none;
        margin: 15px;
        font-size: 15px;
    }
    .top-links:hover{
        text-decoration: 3px solid underline;
    }
    .donate{
        text-decoration: none;
        border: 1px solid #0d6db7;
        background-color: #0d6db7;
        border-radius: 5px;
        color: #ffffff;
        padding: 10px 20px;
        position: relative;
        top: -2px;
    }
    .sponser{
        text-decoration: none;
        border: 1px solid #0d6db7;
        background-color: #8dc63f;
        border-radius: 5px;
        color: #ffffff;
        padding: 10px 20px;
        position: relative;
        top: -2px;
    }
    .green{
        color: #8dc63f;
    }
    .hero-text{
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        position: relative;
        left: 100px;
        top: 100px;
    }
    .explore{
        border:1px solid #000000;
        background-color: transparent;
        padding: 10px 40px;
        border-radius: 5px;
    }
    .hero-img>img{
        width: 500px;
        position: relative;
        top: 20px;
        right: 100px;
    }
    .hero-div{
        display: flex;
        justify-content: space-between;
        height: 200px;
    }
    .box-div{
        position: relative;
        top: 400px;
        display: flex;
        /* border: 1px solid red; */
        justify-content: space-evenly;
        align-items: center;
    }
    .box{
     border: 1px solid #f0fcdb;
     background-color: #f0fcdb;
     padding: 35px 35px;   
     border-radius: 10px;
    }
    h3{
        font-size: 15px;
    }
    .card-div{
        /* border: 1px solid red; */
        display: flex;
        position: relative;
        top: 450px;
        justify-content: space-evenly;
    }
    .card>img{
        /* width: 200px; */
        border-radius: 10px;
    }
    .card{
        /* border: 1px solid green; */
        border-radius: 10px;
        width: 350px;
        height: 250px;
    }
    .card-btn{
        position: relative;
        top: -75px;
        width: 340px;
        left: 3px;
        border: 1px solid #8dc63f;
        background-color: #8dc63f;
        color: #ffffff;
        border-radius: 5px;
        padding: 5px 10px;
    }
    .card-txt{
        position: relative;
        top: -90px;
        color: #ffffff;
        /* font-weight: 900; */
    }
    footer{
        background-color: #424242;
        position: relative;
        top: 500px;
        height: 500px;

    }
    footer>img{
        width: 300px;
        position: relative;
        left: 100px;
        top: 50px;
    }
    .ftr-dtl{
        display: flex;
        color: #ffffff;
    }
    .link{
        color: #ffffff;
        text-decoration: none;
        position: relative;
        left: -40px;
    }
    .about{
        display: flex;
        flex-wrap: wrap;
        width: 30px;
        position: relative;
        left: 450px;
        gap: 10px;
    }
    .explore-footer{
        position: relative;
        left: 700px;
        width: 0px;
    }
}   
@media only screen and (max-width:600px){
    .nav-bar-top{
        background-color: #eeeeee;
        display: flex;
        justify-content: ;
        height: 100px;
        position: relative;
        left: 0px;
        right: 0px;

    }
    .email>img{
        width: 20px;
        height: 20px;
        position: relative;
    }
    .email{
        display: flex;
        position: relative;
        left: 100px;
        top: 10px;
    }
    .phone{
        display: flex;
        position: relative;
        left: 150px;
        top: 10px;
    }
    .phone>img{
        width: 20px;
        height: 20px;
        position: relative;
        top: 3px;
    }
    .container>img{
        width: 2000px;
    }
    .logo{
        width: 200px;
    }
    .logo-div{
        position: relative;
    }
    .nav-bar{
        display: flex;
        justify-content: space-evenly;
        /* border: 1px solid red; */
        border-bottom: 1px solid lightgrey;
        box-shadow: 1px 1px 2px ; 
        align-items: center;
        position: relative;
        left: 0;
        width: 630px;
    }
    ul{
        list-style-type: none;
    }
    li{
        display: inline;
    }
    .top-links-div{
        position: relative;
        top: 10px;
        display: none;
    }
    .top-links{
        text-decoration: none;
        margin: 15px;
        font-size: 15px;
    }
    .top-links:hover{
        text-decoration: 3px solid underline;
    }
    .donate{
        text-decoration: none;
        border: 1px solid #0d6db7;
        background-color: #0d6db7;
        border-radius: 5px;
        color: #ffffff;
        padding: 10px 20px;
        position: relative;
        top: -2px;
    }
    .sponser{
        text-decoration: none;
        border: 1px solid #0d6db7;
        background-color: #8dc63f;
        border-radius: 5px;
        color: #ffffff;
        padding: 10px 20px;
        position: relative;
        top: -2px;
    }
    .green{
        color: #8dc63f;
    }
    .hero-text{
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        position: relative;
        left: 100px;
        top: 100px;
    }
    .explore{
        border:1px solid #000000;
        background-color: transparent;
        padding: 10px 40px;
        border-radius: 5px;
    }
    .hero-img>img{
        width: 500px;
        position: relative;
        top: 20px;
        right: 100px;
        display: none;
    }
    .hero-div{
        display: flex;
        justify-content: space-between;
        height: 200px;
    }
    .box-div{
        position: relative;
        top: 400px;
        display: flex;
        /* border: 1px solid red; */
        justify-content: space-evenly;
        align-items: center;
    }
    .box{
     border: 1px solid #f0fcdb;
     background-color: #f0fcdb;
     padding: 35px 35px;   
     border-radius: 10px;
    }
    h3{
        font-size: 15px;
    }
    .card-div{
        /* border: 1px solid red; */
        display: flex;
        position: relative;
        top: 450px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .card>img{
        /* width: 200px; */
        border-radius: 10px;
    }
    .card{
        /* border: 1px solid green; */
        border-radius: 10px;
        width: 350px;
        height: 250px;
    }
    .card-btn{
        position: relative;
        top: -75px;
        width: 340px;
        left: 3px;
        border: 1px solid #8dc63f;
        background-color: #8dc63f;
        color: #ffffff;
        border-radius: 5px;
        padding: 5px 10px;
    }
    .card-txt{
        position: relative;
        top: -90px;
        color: #ffffff;
        /* font-weight: 900; */
    }
    footer{
        background-color: #424242;
        position: relative;
        top: 500px;
        height: 500px;

    }
    footer>img{
        width: 300px;
        position: relative;
        left: 100px;
        top: 50px;
    }
    .ftr-dtl{
        display: flex;
        color: #ffffff;
    }
    .link{
        color: #ffffff;
        text-decoration: none;
        position: relative;
        left: -40px;
    }
    .about{
        display: flex;
        flex-wrap: wrap;
        width: 30px;
        position: relative;
        left: 450px;
        gap: 10px;
        display: none;
    }
    .explore-footer{
        position: relative;
        left: 700px;
        width: 0px;
        display: none;
    }
}