*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
}
@media only screen and (max-width:600px){
    header{
        background-image: url(hero-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40.04em;
        /* width: 100; */
    }
    .nav-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 60px;
        background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }
    .logo-div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: 40px;
        border: 1px solid #1ea0ee;
        border-radius: 10px;
    }
    .logo-text{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        position: relative;
        left: 5px;
        color: #ffffff;
    }
    .nav-links-div{
        display: flex;
        justify-content: space-evenly;
        width: 200px;
        display: none;
    }
    ul{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        display: none;
    }
    .nav-links{
        color: #ffffff;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        margin: 10px;
        font-size: 20px;
        position: relative;
        display: none;
    }
    .nav-links:after{
        content: '';
        position: absolute;
        width: 100%;
        background: #ffffff;
        transform: scaleX(0);
        bottom: 0;
        left: 0;
        transform-origin: bottom center;
        height: 1px;
        transition: 0.5s;
    }
    .nav-links:hover:after{
        transform: scaleX(1);
        transform-origin: bottom center;
    }
    .nav-login{
        color: #ffffff;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        border: 1px solid #ffffff;
        padding: 8px 30px;
        display: none;
    }
    .nav-login:hover{
        background-color: #ffffff;
        color: black;
        transition: 0.4s ease-in-out;
        text-decoration: none;
    }
    .main-div{
        display: flex;
        flex-wrap: wrap;
        width: 510px;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        left: -50px;
    }
    .main-h{
        font-size: 40px;
    }
    .outline{
        display: flex;
        /* border: 1px solid red; */
        justify-content: space-between;
        height: 220px;
        margin-top: 150px;
        margin-left: 150px;
    }
    .main-btn-div{
        display: flex;
        width: 348px;
        height: 45px;
        /* border: 1px solid red; */
        justify-content: space-between;
        align-content: center;
        }
    .main-btn{
        color: #ffffff;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        border: 1px solid #ffffff;
        padding: 8px 30px;
        border-radius: 5px;
        position: relative;
        top: 10px;
    }
    .main-btn:hover{
        color: black;
        background-color: #ffffff;
        transition: 0.4s ease-in-out;
    }
    span{
        color: #90ee90;
    }
}


@media only screen and (min-width:600px){
    header{
        background-image: url(hero-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40.04em;
        /* width: 100; */
    }
    .nav-bar{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: 60px;
        background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }
    .logo-div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: 40px;
        border: 1px solid black;
        border-radius: 5px;
    }
    .logo-text{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        position: relative;
        left: 5px;
        color: #ffffff;
    }
    .nav-links-div{
        display: flex;
        justify-content: space-evenly;
        width: 200px;
    }
    ul{
        display: flex;
        list-style-type: none;
        justify-content: space-around;
    }
    .nav-links{
        color: #ffffff;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        margin: 10px;
        font-size: 20px;
        position: relative;
    }
    .nav-links:after{
        content: '';
        position: absolute;
        width: 100%;
        background: #ffffff;
        transform: scaleX(0);
        bottom: 0;
        left: 0;
        transform-origin: bottom center;
        height: 1px;
        transition: 0.5s;
    }
    .nav-links:hover:after{
        transform: scaleX(1);
        transform-origin: bottom center;
    }
    .nav-links:hover{
        color: #90ee90;
    }
    .nav-login{
        color: #ffffff;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        border: 1px solid #ffffff;
        padding: 8px 30px;
        border-radius: 5px;
    }
    .nav-login:hover{
        background-color: #ffffff;
        color: black;
        transition: 0.4s ease-in-out;
        text-decoration: none;
    }
    .main-div{
        display: flex;
        flex-wrap: wrap;
        width: 510px;
        color: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        left: -50px;
    }
    .main-h{
        font-size: 40px;
    }
    .outline{
        display: flex;
        /* border: 1px solid red; */
        justify-content: space-between;
        height: 220px;
        margin-top: 150px;
        margin-left: 150px;
    }
    .main-btn-div{
        display: flex;
        width: 348px;
        height: 45px;
        /* border: 1px solid red; */
        justify-content: space-between;
        align-content: center;
        }
    .main-btn{
        color: #ffffff;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        border: 1px solid #ffffff;
        padding: 8px 30px;
        border-radius: 5px;
        position: relative;
        top: 10px;
    }
    .main-btn:hover{
        color: black;
        background-color: #ffffff;
        transition: 0.4s ease-in-out;
    }
    span{
        color: #90ee90;
    }
}
@media only screen and (max-width:950px) {
    .nav-links{
        display: none;
    }
}

@media only screen and (max-width:738px) {
    .nav-login{
        display: none;
    }
    .nav-links-div{
        display: none;
    }
}
@media only screen and (min-width:1px){
    .login-div{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        width: 13%;
        color: #ffffff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        justify-content: center;
        align-items: center;
        height: 200px;
        align-content: center;
        position: relative;
        top: -200px;
        left: 130px;
        background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border-radius: 10px;
        padding: 150px 150px;
        
    }
    .form-div{
        position: relative;
        /* left: 20px; */
        /* border: 1px solid green; */
        font-size: 20px;
        top: -160px;
    }
    .input{
        background-color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 5px;
        height: 30px;
        width: 280px;
    }
    .email{
        position: relative;
    }
    .back{
        color: #ffffff;
        text-decoration: none;
        position: relative;
        top: -10px;
        left: 200px;
        border: 1px solid #ffffff;
        padding: 6px 18px;
        border-radius: 10px;
        transition: 0.5s;
    }
    .back:hover{
        background-color: #ffffff;
        color: black;
    }
    .login{
        color: #ffffff;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        border: 1px solid #ffffff;
        padding: 8px 30px;
        border-radius: 5px;
        position: relative;
        top: 10px;
        left: -30px;
        background-color: #ffffff;
        color: black;
    }
    .login:hover{
        background-color: transparent;
        color: #ffffff;
        transition: 0.6s;
    }
    .submiti{
        display: none;
    }
    .submit{
        border: 1px solid #ffffff;
        padding: 5px 100px;
        position: relative;
        top: 20px;
        text-decoration: none;
        left: 5px;
        color: #ffffff;
        border-radius: 10px;
    }
    .submit:hover{
        background-color: white;
        color: black;
        transition: 0.5s;
    }
    .login-img-div{
        position: relative;
        right: 300px;
        width: 300px;
        height: 305px;
        top: 120px;
        border: 1px solid #000000;
        border-radius: 5px;
    }
    .login-img{
        width: 300px;
        height: 305px;
        border-radius: 5px;
    }
}
@media only screen and (max-width:1000px){
    .login-img-div{
        display: none;
    }
    .login-div{
        margin: 0 auto;
        position: relative;
        left: 0;
    }
    .form-div{
        position: relative;
        top: -10px;
    }
}
